.HeaderUserCle{
  height: 4rem;
  width: 4rem;
  border-radius: 50% !important;
  margin-left: 10rem;
  background-color: #61dafb;
}
.HeaderCartCle{

  height: 4rem;
  width: 4rem;
  border-radius: 50% !important;
  background-color: #61dafb;
}
.CartIcons{
  width: 30px;
  height: 30px;
  margin-left: 47px;
  margin-top: 5px;
}
.CartSpan{
  width: 30px;
  height: 30px;
  margin-left: 55px;
  margin-top: -2px;
}
.homecard{
  width: auto;
  height: 390px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0,0,0,.5);
}
.CartPageCard{
  border-radius: 2rem;
}
.modal-footer{
  border-top: 0px solid #dee2e6 !important;
}
.CartPlaceOrder{
  width: 100%;
  height: 4rem;
  margin-top: 2rem;
  font-size: larger;
  background-color: #fb641b !important;
  border-color: #fb641b !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.dotted{
  border-style: dotted;
  padding: 1rem;
}
.sidepage{
  background: #1d1d1d !important;
  color: #FFFFFF;
  height: 100% !important;
}
.LoginBg{
  background: black !important;
  color: #FFFFFF;
}
.HeaderUserIcon{
  color:black !important;
  background-color: white !important; 
}
.UserIcons{
  margin-left: auto !important;
  margin-right: auto;

}
.UserIconsss{
  height: 30px;
  width: 30px;
}
.HeaderHomeIcon{
  width: 30px;
  height: 30px;
  margin-left: 111px !important;  
  margin-right: auto;
  margin-left: auto;
}

.headerPageIcon{
  margin-top: 5px !important;
  margin-left: 101px !important;  
  margin-right: -121px !important;  
}
.Homepageimg{
  margin-left: 45px !important;
}
.mobilebtn{
  background-color: #4ab2f1 !important;
  border: #4ab2f1 !important;
  border-radius: 5px !important;
  margin-bottom: 0rem !important;
}
.AutocompleteHeader{
  width: 100% ;
  background-color: #FFFFFF;
  border-radius: 4px;
  height: 40px;
}
.MuiAutocomplete-inputRoot[class*="MuiInput-root"]{
  padding-bottom: 9px !important;
}
span.counter{
	width: 24px !important;
	height: 24px !important;
	font-size: 16px;
	color: #fff;
	border-radius: 4px;
	background: rgb(212, 13, 13);
  margin-left: 58px;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');
body {
    font-family: 'Raleway', sans-serif;
    background-color: #F7F7F7;
}
.errorMsg{
  color: red;
}
.login-1 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.login-form {
    margin: 120px 80px;
    overflow: hidden;
}

.img-box {
    max-height: 700px;
    display: flex;
    align-items: center;
}

.login-form .login-box {
    font-size: 1rem;
    padding: 15px 15px 15px 30px;
}

.login-form .login-box .login-title {
    font-size: 40px;
    font-weight: 600;
    color: #151865;
}

.login-form .login-box .login-p {
    font-weight: 300;
    color: #151865;
    font-size: 20px;
}

.login-form .back-img {
    max-width: 100%;
    height: auto;
}

.login-form .check-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-form a {
    color: #151865;
    text-decoration: none;
}

.login-form .form-group, .login-form .input-group {
    padding: 15px 20px 5px 0px;
}

.login-form .form-group label {
    margin-bottom: .5rem;
    font-size: 1rem;
}

.login-form .form-group .form-control {
    padding: .810rem .96rem;
    border-color: #45B4D0;
    border-radius:0;
    font-weight: 300;
    color: #151865;
    font-size: 20px;
    margin-bottom: 20px;
}

.login-form .btn-primary {
    background-color: #45B4D0;
    border-color: #45B4D0;
    padding: 0.8rem 2.6rem;
    font-weight: 500;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    margin: 10px 0px 20px;
    border-radius: 5px;
}

.login-form .btn-primary:hover {
    background-color: #006adb;
    border-color: #006adb;
}

.login-form .btn-link {
    color: #1428bf;
}

@media screen and (max-width: 767px) {
    .login-1 {
        padding: 0px;
        overflow: visible;
        height: 100%;
    }

    .login-form {
        margin: 10px;
        overflow: visible;
    }
    .loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'roboto', sans-serif;
}

.navbar{
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background: #f5f5f5;
  z-index: 9;
}

.nav{
  padding: 10px 10vw;
  justify-content: space-between;
  width: 100%;
}

.brand-logo{
  height: 60px;
  align-self: left;
}

.nav-items{
  display: flex;
  align-items: center;
}

.search{
  width: 500px;
  display: flex;
}

.search-box{
  width: 80%;
  height: 40px;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #d1d1d1;
  text-transform: capitalize;
  background: none;
  color: #a9a9a9;
  outline: none;
}

.search-btn{
  width: 20%;
  height: 40px;
  padding: 10px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #383838;
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.search-box::placeholder{
  color: #a9a9a9;
}

.nav-items a{
  margin-left: 20px;
}

.nav-items a img{
  width: 30px;
}


body {
  background-color: #000
}

.card {
  border: none
}

.product {
  background-color: #eee
}

.brand {
  font-size: 13px
}

.act-price {
  color: red;
  font-weight: 700
}

.dis-price {
  text-decoration: line-through
}

.about {
  font-size: 14px
}

.color {
  margin-bottom: 10px
}

label.radio {
  cursor: pointer
}

label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none
}

label.radio span {
  padding: 2px 9px;
  border: 2px solid #ff0000;
  display: inline-block;
  color: #ff0000;
  border-radius: 3px;
  text-transform: uppercase
}

label.radio input:checked+span {
  border-color: #ff0000;
  background-color: #ff0000;
  color: #fff
}

.btn-danger {
  background-color: #ff0000 !important;
  border-color: #ff0000 !important
}

.btn-danger:hover {
  background-color: #da0606 !important;
  border-color: #da0606 !important
}

.btn-danger:focus {
  box-shadow: none
}

.cart i {
  margin-right: 10px
}

.p-4 {
  padding: 2.5rem !important;
}


:root {
  --width-container: 540px;
}
.container {
  width: var(--width-container);
  max-width: 100%;
  margin: 0 auto;
  padding: 0 var(--space-8);
  border: var(--border);
  background-color: var(--color-white);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}
.input-row {
  display: flex;
  padding: var(--space-8) 0;
  border-bottom: var(--border);
}
.input-row:last-child {
  border-bottom: 0;
}
.title {
  margin-right: var(--space-8);
}
.label {
  margin-bottom: var(--space-1);
  font-weight: bold;
}
.description {
  color: var(--color-gray-600);
}
.input {
  display: flex;
  align-items: center;
  margin-left: auto;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--space-12);
  height: var(--space-12);
  border: 1px solid var(--color-blue-500);
  border-radius: var(--round);
  background-color: var(--color-white);
}
button:hover {
  background-color: var(--color-blue-200);
  cursor: pointer;
}
button:focus {
  outline: none;
  box-shadow: var(--shadow-focus);
}
button[disabled] {
  opacity: var(--opacity-50);
  pointer-events: none;
}
button:active {
  background-color: var(--color-blue-300);
}

.number {
  font-size: var(--text-lg);
  min-width: var(--space-12);
  text-align: center;
}
.icon {
  user-select: none;
}
.dim {
  color: var(--color-gray-400);
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body
{
    font-family: 'Roboto', sans-serif;
}
a
{
    text-decoration: none;
}
.product-card {
    width: 300px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 50px;
    /* background: #f0f0f0; */
}

.product-tumb img {
    max-width: 150%;
    max-height: 150%;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}
.product-title:hover{ 
  color: #fbb72c;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}