/* body,header {
  height: 100%;
  font-family: 'Montserrat', Arial, sans-serif;
  background: #3271bd;
  background: -webkit-linear-gradient(-45deg, #20745f 0%, rgba(32, 116, 95, 0) 70%), -webkit-linear-gradient(-315deg, #81b0df 10%, rgba(129, 176, 223, 0) 80%), -webkit-linear-gradient(-225deg, #3271bd 10%, rgba(50, 113, 189, 0) 80%), -webkit-linear-gradient(-135deg, #375268 100%, rgba(55, 82, 104, 0) 70%);
  background: linear-gradient(45deg, #20745f 0%, rgba(32, 116, 95, 0) 70%), linear-gradient(135deg, #81b0df 10%, rgba(129, 176, 223, 0) 80%), linear-gradient(225deg, #3271bd 10%, rgba(50, 113, 189, 0) 80%), linear-gradient(315deg, #375268 100%, rgba(55, 82, 104, 0) 70%);
} */
.LoginPageHeader{
  margin-left: 30rem;
  margin-top: 10rem;
  margin-bottom: 10rem;
  text-align: center;
  width: 20rem;
  height: 100%;
  /* border-style: groove; */
  padding: 3rem;
}
.LoginInputs{
  margin-left: 2rem;
}
.LoginBtn{
  margin-left: 15%;
}
.HeaderUserCle{
  height: 4rem;
  width: 4rem;
  border-radius: 50% !important;
  margin-left: 10rem;
  background-color: #61dafb;
}
.HeaderCartCle{

  height: 4rem;
  width: 4rem;
  border-radius: 50% !important;
  background-color: #61dafb;
}
.CartIcons{
  width: 30px;
  height: 30px;
  margin-left: 47px;
  margin-top: 5px;
}
.CartSpan{
  width: 30px;
  height: 30px;
  margin-left: 55px;
  margin-top: -2px;
}
.homecard{
  width: auto;
  height: 390px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(0,0,0,.5);
}
/* .homecard :hover{
  box-shadow: 0 18px 18px rgba(0,0,0,.25) !important;
} */
.CartPageCard{
  border-radius: 2rem;
}
.modal-footer{
  border-top: 0px solid #dee2e6 !important;
}
.CartPlaceOrder{
  width: 100%;
  height: 4rem;
  margin-top: 2rem;
  font-size: larger;
  background-color: #fb641b !important;
  border-color: #fb641b !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
.dotted{
  border-style: dotted;
  padding: 1rem;
}
.sidepage{
  background: #1d1d1d !important;
  color: #FFFFFF;
  height: 100% !important;
}
.LoginBg{
  background: #1d1d1d !important;
  color: #FFFFFF;
}
.HeaderUserIcon{
  color: #fff;
  background-color: #1d1d1d !important; 
  border-color: #1d1d1d !important;
}
.UserIcons{
  margin-left: 4rem !important;
}
.UserIconsss{
  height: 30px;
  width: 30px;
}
.HeaderHomeIcon{
  width: 30px;
  height: 30px;
  /* margin-left: 111px !important;   */
}

.headerPageIcon{
  margin-top: 5px !important;
  margin-left: 101px !important;  
  margin-right: -121px !important;  
}
.Homepageimg{
  margin-left: 45px !important;
}
.mobilebtn{
  background-color: #4ab2f1 !important;
  border: #4ab2f1 !important;
  border-radius: 5px !important;
  /* margin-top: 0rem !important; */
  margin-bottom: 0rem !important;
}
.AutocompleteHeader{
  width: 100% ;
  background-color: #FFFFFF;
  border-radius: 4px;
  height: 40px;
}
.MuiAutocomplete-inputRoot[class*="MuiInput-root"]{
  padding-bottom: 9px !important;
}
span.counter{
	width: 24px !important;
	height: 24px !important;
	font-size: 16px;
	color: #fff;
	border-radius: 4px;
	background: rgb(212, 13, 13);
  margin-left: 58px;
}

/* span.counter {
	left: 48px;
	bottom: 48px;
} */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');
body {
    font-family: 'Raleway', sans-serif;
    background-color: #F7F7F7;
}

.login-1 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.login-form {
    margin: 120px 80px;
    overflow: hidden;
}

.img-box {
    max-height: 700px;
    display: flex;
    align-items: center;
}

.login-form .login-box {
    font-size: 1rem;
    padding: 15px 15px 15px 30px;
}

.login-form .login-box .login-title {
    font-size: 40px;
    font-weight: 600;
    color: #151865;
}

.login-form .login-box .login-p {
    font-weight: 300;
    color: #151865;
    font-size: 20px;
}

.login-form .back-img {
    max-width: 100%;
    height: auto;
}

.login-form .check-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-form a {
    color: #151865;
    text-decoration: none;
}

.login-form .form-group, .login-form .input-group {
    padding: 15px 20px 5px 0px;
}

.login-form .form-group label {
    margin-bottom: .5rem;
    font-size: 1rem;
}

.login-form .form-group .form-control {
    padding: .810rem .96rem;
    border-color: #45B4D0;
    border-radius:0;
    font-weight: 300;
    color: #151865;
    font-size: 20px;
    margin-bottom: 20px;
}

.login-form .btn-primary {
    background-color: #45B4D0;
    border-color: #45B4D0;
    padding: 0.8rem 2.6rem;
    font-weight: 500;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    margin: 10px 0px 20px;
    border-radius: 5px;
}

.login-form .btn-primary:hover {
    background-color: #006adb;
    border-color: #006adb;
}

.login-form .btn-link {
    color: #1428bf;
}

@media screen and (max-width: 767px) {
    .login-1 {
        padding: 0px;
        overflow: visible;
        height: 100%;
    }

    .login-form {
        margin: 10px;
        overflow: visible;
    }
}